
<!-- <img src="images/toilet_python.jpeg" style="width: 300px;"/> -->
<img id='tent' src="images/tent_python.jpeg"/>

<h1>Python 2 or Python 3?  If anyone ever asks you to work with Python, it is 
much easier to start with 2 than 3.</h1><br>

<h1>Think about it: Would you rather be stuck in a room with 2 Pythons or 3?</h1><br>

<h1>We thought so.</h1>

</h1><br>

<h1>That about wraps up advanced Python concepts! Let's now take the tour!</h1>

<!-- style="width: 600px;" -->