

<img src="images/python_framework.jpeg" style="width: 600px;"/>

<h1>Here is a pretty popular Python framework.</h1><br>   <h1>It's easier to work with Python with 
a framework.</h1><br>  <h1>That covers the basics.<h1><br>  <h1>Easy enough?</h1><br>  <h1>Let's 
move onto advanced Python!</h1>