<h1 id='contact'>It's important to get help with Python.  You can't do this alone.  Feel free to email us with questions,
concerns or compliments.</h1><br>
<!-- <%= 'Password' %> -->


<div class="container">
  <form method='POST'action='/contact'>
   
    <label id='name' for="fullname">Name</label>
    <input type="text" id="name" name="name" placeholder="Your name..">
   
    <label for="email">Email</label>
    <input type="text" id="email" name="email" placeholder="Your email..">
    <div id='sub'>
    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:300px"></textarea>

    <input type="submit" value="Submit">
    </div>
  </form>
</div>

