<img src='images/python.jpeg'/>


<h1>Welcome to out Python Pranks Emporium!  Do you like Python!?  We sure hope you do!
At this emporium we have everything Python!  Python for Beginners!  Python for Advanced!  
Tour of Python!  Python at Weddings! </h1><br> <h1>Python Prank Packages Now On Sale!</h1>  <br><h1>WE MAKE ALL THINGS
PYTHON EASY!</h1>






