<img id='home' src="images/wedding_python.jpeg"/>
<h1>Are you looking to play a playful prank on your future spouse with a sorta poisonous Python?

We have custom Python pranks to fit your needs for every special occasion.

As of August, 2018, we are happy to now be doing weddings!
</h1>
<br><br>

<h6 class='tiny'>Disclaimer: Not responsible for divorce or death because of python</h6>